<section>
  <% if (error) { %>
    <p style="color: red;">Error: <%= error %></p>
  <% } else if (customers.length === 0) { %>
    <p>No customers found.</p>
  <% } else { %>
    <table>
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">First name</th>
          <th scope="col">Last name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% customers.forEach(customer => { %>
          <tr>
            <td><%= customer.id %></td>
            <td><%= customer.firstname %></td>
            <td><%= customer.lastname %></td>
            <td><%= customer.email %></td>
            <td><%= customer.phonenumber %></td>
            <td>
                <div  class="u-actions">
                    <a href="<%= path %>/<%= customer.id %>/edit" class="c-btn c-btn--edit">Edit</a>
                    <form method="POST" action="<%= path %>/<%= customer.id %>/delete">
                        <button type="submit" class="c-btn c-btn--delete">Delete</button>
                    </form>
                </div>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
    <%- include('partials/_pagination', { page: page, totalPages: totalPages, path: path }) %>
  <% } %>
</section>
