<section>
  <% if (error) { %>
    <p style="color: red;">Error: <%= error %></p>
  <% } else if (movies.length === 0) { %>
    <p>No movies found.</p>
  <% } else { %>
    <table>
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Title</th>
          <th scope="col">Poster</th>
          <th scope="col">Trailer</th>
          <th scope="col">Description</th>
          <th scope="col">Duration (min)</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% movies.forEach((movie, i) => { %>
          <tr>
            <td><%= movie.id %></td>
            <td><%= movie.title %></td>
            <td><%- include('partials/_modal', { content: movie.posterUrl, label: 'Poster', modalId: 'poster-' + i }) %></td>
            <td><%- include('partials/_modal', { content: movie.trailerUrl, label: 'Trailer', modalId: 'trailer-' + i }) %></td>
            <td><%- include('partials/_modal', { content: movie.description, label: 'Description', modalId: 'desc-' + i }) %></td>
            <td><%= movie.durationMinutes %></td>
            <td >
                <div  class="u-actions">
                    <a href="<%= path %>/<%= movie.id %>/edit" class="c-btn c-btn--edit">Edit</a>
                    <form method="POST" action="<%= path %>/<%= movie.id %>/delete">
                        <button type="submit" class="c-btn c-btn--delete">Delete</button>
                    </form>
                </div>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
    <%- include('partials/_pagination', { page: page, totalPages: totalPages , path: path }) %>
  <% } %>
</section>
