<section>
    <header>
      <h2>Tickets</h2>
      <a href="/tickets/add" >Add movie</a>
    </header>
  <% if (error) { %>
    <p style="color: red;">Error: <%= error %></p>
  <% } else if (tickets.length === 0) { %>
    <p>No tickets found.</p>
  <% } else { %>
    <table>
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Customer ID</th>
          <th scope="col">Seat ID</th>
          <th scope="col">Showtime ID</th>
          <th scope="col">Purchase date</th>
          <th scope="col">Price</th>
          <th scope="col">Type</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% tickets.forEach(ticket => { %>
          <tr>
            <td><%= ticket.id %></td>
            <td><%= ticket.customerId %></td>
            <td><%= ticket.seatId %></td>
            <td><%= ticket.showtimeId %></td>
            <td><%= new Date(ticket.purchaseDate).toLocaleDateString() %></td>
            <td><%= ticket.price %></td>
            <td><%= ticket.type %></td>
            <td>
                <div  class="u-actions">
                    <a href="<%= path %>/<%= ticket.id %>/edit" class="c-btn c-btn--edit">Edit</a>
                    <form method="POST" action="<%= path %>/<%= ticket.id %>/delete">
                        <button type="submit" class="c-btn c-btn--delete">Delete</button>
                    </form>
                </div>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
    <%- include('partials/_pagination', { page: page, totalPages: totalPages , path: path }) %>
  <% } %>
</section>
